@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $font-stack;
}

.contact {
  footer {
    h3 {
      text-transform: map-get($text-transform, "uppercase");
      letter-spacing: $letter-spacing;
    }
  }

  .send-message {
    input:last-child {
      font-family: $font-stack;
      letter-spacing: 1px;
      text-transform: map-get($text-transform, "uppercase");
    }
  }
}

header:not(header:first-child) {
  text-transform: map-get($text-transform, "uppercase");
  letter-spacing: $letter-spacing;
}

.intro {
  header {
    text-transform: map-get($text-transform, "capitalize");

    p {
      text-transform: map-get($text-transform, "uppercase");
      letter-spacing: $letter-spacing;
    }

    h1 {
      font-size: 4rem;
    }
  }
}

.skills {
  ul {
    li {
      text-transform: map-get($text-transform, "capitalize");
    }

    li:nth-child(1),
    li:nth-child(2),
    li:nth-child(3) {
      text-transform: map-get($text-transform, "uppercase");
    }
  }
}

.work-section__subtitle {
  font-size: 1.2rem;
}

@include media-lg {
  .intro {
    header {
      h1 {
        font-size: 5rem;
      }
    }
  }

  .contact {
    footer {
      address {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@include media-small {
  .intro {
    header {
      h1 {
        font-size: 3rem;
      }

      p {
        font-size: .8rem;
      }
    }
  }
}