@use "base" as *;

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

body {
  -webkit-animation: bg-scrolling-reverse linear 6s infinite;
  animation: bg-scrolling-reverse linear 6s infinite;
}

@-webkit-keyframes fide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-3%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-3%);
  }

  100% {
    transform: translateX(0);
  }
}

.intro {
  -webkit-animation: fide ease-out 1s 1;
  animation: fide ease-out 1s 1;

  header {

    p,
    a {
      -webkit-animation: slide ease 1.2s 1;
      animation: slide ease 1.2s 1;
    }

    h1 {
      -webkit-animation: slide ease 1s 1;
      animation: slide ease 1s 1;
    }
  }
}

.success {
  -webkit-animation: fide ease-out 350ms 1;
  animation: fide ease-out 350ms 1;
}

@include media-lg {
  @-webkit-keyframes slide {
    0% {
      transform: translateY(3%);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide {
    0% {
      transform: translateY(3%);
    }

    100% {
      transform: translateY(0);
    }
  }

  .intro {
    header * {
      -webkit-animation: slide ease 1.2s 1;
      animation: slide ease 1.2s 1;
    }
  }

  @-webkit-keyframes float {
    0% {
      transform: translateY(-5px);
    }

    100% {
      transform: translateY(5px);
    }
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }

    50% {
      transform: translatey(-6px);
    }

    100% {
      transform: translatey(0px);
    }
  }

  .sroller {
    img {
      -webkit-animation: float ease-out 2.5s infinite;
      animation: float ease-out 2.5s infinite;
    }
  }
}