@use "variables" as *;

@mixin transition($target) {
  transition: $target 350ms ease-out;
}

@mixin after-header {
  content: "";
  background-color: $primary;
  display: block;
  position: absolute;
  z-index: -1;
  height: 15px;
}

@mixin header {
  padding: $main-padding;
  text-transform: map-get($text-transform, "uppercase");
  letter-spacing: $letter-spacing;
}

@mixin media-lg {
  @media (min-width: 875px) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: 1100px) {
    @content;
  }
}

@mixin media-small {
  @media (max-width: 499px) {
    @content;
  }
}

@mixin media-very-small {
  @media (max-width: 406px) {
    @content;
  }
}