@use "../base" as *;

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 2em;
  text-transform: capitalize;
  height: 100vh;

  &__title {
    font-size: 4rem;
  }

  &__subtitle {
    margin-top: 1em;
    padding-bottom: 1em;
    line-height: 1.8;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__scroll-btn {
    visibility: hidden;
    align-self: flex-end;
    margin-top: 1em;
    margin-right: 4em;
    cursor: pointer;

    img {
      width: 60px;
    }
  }

  @include media-lg {
    display: flex;
    align-items: flex-end;
    width: 50%;

    &__scroll-btn {
      margin-right: 0;
      visibility: visible;
    }

    &__title {
      line-height: 1;
      max-width: 300px;
      text-align: right;
    }
  }
}